body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: DauphinPlain;
}
section{
    margin-left: 35%;
    margin-top: 5%;
}
.form1{
    display: flex;
    flex-direction: column;
    width: 50%;
}
h1{
    text-align: center;
}

#submitbtn{
    width: 100px;
    margin: 5% 0;
}
#email{
    margin: 5% 0;
}
#password{
    margin: 5% 0;
}

